/* 共通スタイルは外に書く */
.header{
  height: 100px;
}
.box1{
  height: 250px;
  padding: 20px;
}
.box2{
  height: 250px;
  padding: 20px;
}
.footer{
  height: 100px;
}
@media screen and (min-width: 796px) { /* pc用スタイル */
  .body{
    width: 400px;
    margin: 0 auto;
  }
  .header{
    background-color: #141f40;
  }
  .main{
    display: flex;
  }
  .box1{
    width: 150px;
    background-color: #80bfa8;
  }
  .box1-txt{
    font-size: 20px;
    color: #f00;
  }
  .box2{
    width: 250px;
    background-color: #8c2727;
  }
  .box2-txt{
    font-size: 20px;
    color: #00f;
  }
  .footer{
    background-color: #d98d30;
  }
}

@media screen and (max-width: 795px) { /* sp用スタイル */
  .header{
    background-color: #e91e63;
  }
  .box1{
    background-color: #0093b7;
  }
  .box1-txt{
    font-size: 15px;
    color: #00f;
  }
  .box2{
    background-color: #dbd400;
  }
  .box2-txt{
    font-size: 15px;
    color: #f00;
  }
  .footer{
    background-color: #170e38;
  }
}